body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: black;
  scroll-behavior: smooth;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}

#color-changing-paragraph {
  text-align: center;
  font-size: 80px;
  color: white;
}

/* .text-box {
  margin: 30rem auto;
} */

.extra {
  height: 70vh;
  background-color: rgb(180, 201, 201);
}
